/* LAYOUT */
html, body                    {height: 100%;}
body                          {padding-top: 25px}
.container                    {padding-bottom: 25px}
h1                            {margin-top: 0}
div>img                       {margin-top: 70px; margin-bottom: 30px}
figure>img, iframe            {margin-top: 30px}
p>code, figcaption>code       {padding-top: 3px; padding-bottom: 3px}
pre                           {padding-top: 6px; padding-bottom: 6px}

header>img                    {width: 400px}
@media (max-width:400px)      {header>img  {width: 200px}}
div>img                       {width: 360px}
@media (max-width:400px)      {div>img  {width: 180px}}

p>code, figcaption>code       {padding-left: 5px; padding-right: 5px}
pre                           {padding-left: 10px; padding-right: 10px}

figure>img, pre, p>code       {border-width: 1px; border-style: solid}
pre, p>code                   {border-radius: 2px}
iframe                        {border: 0; overflow: hidden}

/* TYPOGRAPHY */
body                          {font-family: monospace}
a                             {text-decoration: underline}
p>code                        {font-size: 0.85em}
figcaption>code               {font-size: 0.85em}
@media (min-width:992px)      {figcaption>code {font-size: 0.8em}}
@media (min-width:1200px)     {figcaption>code {font-size: 0.85em}}
pre, p                        {line-height: 1.8em}
p, h1                         {font-size: 0.95em}
@media (min-width:768px)      {p, h1 {font-size: 1.0em}}
@media (min-width:992px)      {p, h1 {font-size: 1.3em}}

/* COLORS */
body                          {background-color: #041122; color: #eefff0}
pre, p>code, figcaption>code  {background-color: #f6fff7; color: #041122}
figure>img, pre, p>code       {background-color: #f6fff7; border-color: #7fda89}
a                             {color: #7fda89}
a:hover                       {color: #259073}
.o                            {color: #555555}
.no                           {color: #10a17c}
.s1                           {color: #306636}
.s2                           {color: #306636}
.ss                           {color: #c0513c}
.c1                           {color: #999999}
.mi                           {color: #6b65dd}
